<body>
    <div class="container">
        <h2>Manage Addresses</h2>
        <p>
            You can search for an physical address, add and delete a new address,
            and
            update an existing address here.
        </p>

    </div>

    <div class="container">
        <h4>Add a New Address</h4>
        <form>
            <div class="form-group">
                <label for="inputStreet">Street</label>
                <input type="text" class="form-control" id="inputStreet" placeholder="1234 Main St">
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Portland">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" placeholder="Oregon">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <button id="addAddress" class="btn btn-success">Submit to Database</button>

        </form>
    </div>
    <P></P>
    <p></p>
    <div>
        <div class="container">
            <div class="table-responsive">
                <h4>View All Addresses</h4>
                <table class="table table-striped" id="address_table"></table>
            </div>
        </div>
        <script src="/public/Address.js"></script>
</body>