<div class="container">
<h1>Authors</h1>
<p>This page will be used to view the authors. An author will be able to be added, deleted, or edited.
</p></div>
<div class="container">
    <form class="form-inline">
        <div class>
            <label for="addAuthor">Add an Author</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="addauthor" placeholder="Enter an Author">
        </div>
        <button  class="btn btn-success"id="database">Send to Database</button>
    </form>
</div>
<br><br>

<div class="container">
    <p>Please do not delete Authors without deleting their corresponding books.</p>
    <table id="author_table" class="table table-striped"></table>

</div>

<script>
    const author_table = document.getElementById("author_table")
    function createAuthorTable() {
        $('#author_table').empty()
        var headings = ["AuthorId", "Author","Books"]
        var thead = document.createElement('thead')
        author_table.appendChild(thead)
        var tr = document.createElement('tr')
        for (var i = 0; i < headings.length; i++) {
            var th = document.createElement('th')
            th.innerHTML = headings[i]
            tr.appendChild(th)
            thead.appendChild(tr)
        }
        $.get('/authordata', (authordata) => {
            maketable(authordata)
            $(document).ready(function () {
                $('#author_table').DataTable();
            tableeditor()
            $('#author_table').on('draw.dt',()=>{
                tableeditor()
            })
            
        })
    })}

    function maketable(authordata) {
        tbody = document.createElement('tbody')
        author_table.appendChild(tbody)
        $.each(authordata, (key, val) => {
            var tr = document.createElement('tr')
            for (x in val) {
                td = document.createElement('td')
                if(val[x] == ''){
                    td.innerHTML = 'NULL'
                }else{
                    td.innerHTML = (val[x])}
                tr.appendChild(td)
            }
        tbody.appendChild(tr)
        })
    }

    createAuthorTable()

function tableeditor() {
    $('#author_table').Tabledit({
        url: '/authoredit',
        columns:{
            identifier:[0,'authorid'],
            editable:[[1,'authorName']]
        },
        editButton: true,
    deleteButton: true,
    buttons: {
      edit: {
        class: 'btn btn-sm btn-primary',
        html: 'EDIT',
        action: 'edit'
      },
      delete: {
        class: 'btn btn-sm btn-danger',
        html: 'DELETE',
        action: 'delete'
      },
      save: {
        class: 'btn btn-sm btn-success',
        html: 'Save'
      },
      restore: {
        class: 'btn btn-sm btn-warning',
        html: 'Restore',
        action: 'restore'
      },
      confirm: {
        class: 'btn btn-sm btn-warning',
        html: 'Confirm'
      }
    },
    onAjax: function (action, serialize) {
      console.log('onAjax(action, serialize)')
      console.log(action)
      console.log(serialize)
      $('#author_table')
        .DataTable()
        .destroy()
      createAuthorTable()
    }
    })
}

    $('#database').on('click', e =>{
        e.preventDefault()
        var payload = {
            action : "insert",
            authorName : $("#addauthor").val()
        }
        console.log(payload)
        $.post('/authoredit',payload)
        .then(()=>{$("#author_table").DataTable().destroy()
        createAuthorTable()})
    })

    $(document).ready(function () {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>