<body>
    <div class="container">
    <p>This page will be used to add books to the website, and view the books currently available. The search box
        returns book information from the Google
        Books API. The INSERT form will not allow books with the same google_id and price. This allows books to have
        different prices if one version sells out.
        The Books table lists all the books. The info in the description box is large, so the table states if a
        description is available.
    </p>
    </div>
    <div class="container">
        <form >
            <label for="booksearch">Search for a book on Google.</label>
            <input type="text" id="booksearch" />
            <button type="submit" class="btn btn-secondary"id="search">Search</button>
        </form>
    </div>
    <br>
    <div class="container">
        <h4>Add a New Book</h4>
            <form>
                   <div class="row">
                       <div class="col">
                           <label for="title">Title</label>
                        <input type="text" class ="form-control" id="book_title" />
                        </div>
                    
                        <div class="col">
                        <label for="author">Author</label>
                        <input type="text" class = "form-control"id="authors">
                        <small id="authorHelp" class="form-text text-muted">Separate each author by a comma.</small>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                        <label for="Googleid">Google ID</label>
                        <input type="text" id="google_id" class="form-control"/>
                        </div>
                    
                        <div class="col">
                        <label for="ISBN" >ISBN</label>
                        <input type="text" id="ISBN"class="form-control" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                        <label for="publisher">Publisher</label>
                        <input type="text" id="publisher" class="form-control"/>
                        </div>
                        <div class="col">
                        <label for="published date">Published date</label>
                        <input type="text" id="published_date" class="form-control"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                        <label for="page count">Page Count</label>
                        <input type="text" id="page_count" class="form-control"/>
                        </div>
                        <div class="col">
                        <label for="rating">Rating</label>
                        <input type="text" id="rating"class="form-control" />
                        <small id="ratingHelp" class="form-text text-muted">Only Whole Numbers 1-5.</small>
                        </div>
                        <div class="col">
                        <label for="price">Price</label>
                        <input type="text" id="price" class="form-control"/>
                        </div>
                        <div class="col">
                        <label for="quantity">Quantity</label>
                        <input type="text" id="quantity" class="form-control"/>
                        </div>
                        <br>
                    </div>
                    <label for="description">Description</label>
                    <textarea  id="description"class="form-control" rows="4"></textarea>
                    <br>
                    <button type="submit" class="btn btn-success"id="database">Send to Database</button>
                </form>
            
        </div>
        <br><br>
        <div class="container">
                <table id="book_table" class="table table-striped"></table>
        </div>
    
    <script src="addbooks.js"></script>
    
    <script>
        $(document).ready(function () {
            $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
        });
    </script>
</body>