<body>
    <div class="container">
        <h2>Manage Customers</h2>
        <p>
            You can search for a customer, add or delete a customer,
            and
            update a customer's basic information.
        </p>

    </div>


    <div class="container">
        <form action="" align="right">
            <label for="customerSearch">Search for A Customer: </label>
            <input type="text" id="customerSearch" />
            <button type="submit" id="customerSearch" class="btn btn-secondary">Search</button>
            <small id="searchHelp" class="form-text text-muted">Search by any text in the customer's name, email
                address.</small>
        </form>
    </div>

    <div class="container">
        <h4>Add a New Customer</h4>

        <form>
            <div class="form-group">
                <label for="addEmail">Email address</label>
                <input type="email" class="form-control" id="addEmail" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Please input Customer's email here.</small>
            </div>

            <div class="form-group">
                <label for="addFirstName">First Name</label>
                <input type="text" class="form-control" id="addFirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="addLastName">Last Name</label>
                <input type="text" class="form-control" id="addLastName" placeholder="Last Name">
            </div>

            <button type="submit" id="addCustomer" class="btn btn-success">Submit to Database</button>
        </form </div>

        <P></P>
        <p></p>
        <div class="container">
            <div class="table-responsive">
                <h4>View All Customers</h4>

                <table class="table table-sm" id="customers_table">
                    <thead>
                        <tr>
                            <th scope="col">Customer Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Physical Address</th>
                            <th scope="col">Update Info</th>
                            <th scope="col">Delete Customer</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button type="submit" class="btn btn-info">Show Address</button></td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                            <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#customers_table').dataTable();
            });
        </script>
</body>