<body>
    <h1>Orders</h1>

    <div class="container">
        <table id="order_table" class="table table-striped"></table>
        Search for an order
        View All Orders
        Add A New Order

        Explore Order Details after each order card
        Update and Delete Button after each Order card

    </div>

</body>